{% extends "layout.html" %}
{% set mainId = "page-agendamento" %}

{% block styles %}
    <link rel="stylesheet" href="styles/agendamento.css">
    <link rel="stylesheet" href="styles/calendario.css">
    <link rel="stylesheet" href="styles/bootstrap-datepicker.css">
{% endblock styles %}


{% block content %}

        {% include  "partials/header-nav.html" %}

        <section class="agendar">
            <div class="container">
                <div class="agendamento">
                    <form action="/savepoint" method="POST">
                        <div class="medico-calendario">
                            <div class="medico">
                                <div class="row">
                                    <div class="col-12 mt-4">
                                        <div class="content">
                                            <div class="informacoes">
                                                <span class="img-box">
                                                    <img src="/assets/foto-medico.svg" alt="Médico">
                                                </span>
                                                <div class="textbox">
                                                    <h6>Dr. José Augusto</h6>
                                                    <p>Cardiologista</p>
                                                    <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Paulista 00, São Paulo - SP</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="calendario mt-3">
                                <div id="sandbox">
                                    <input type="text" name="data">
                                </div>
                            </div>
                        </div>
                        <div class="horario">
                            <ul class="list-unstyled">
                                <li><a data-id="09:30" href="#">09:30</a></li>
                                <li><a data-id="10:00" href="#">10:00</a></li>
                                <li><a data-id="10:30" href="#">10:30</a></li>
                                <li><a data-id="11:00" href="#">11:00</a></li>
                                <li><a data-id="11:30" href="#">11:30</a></li>
                                <li><a data-id="12:00" href="#">12:00</a></li>
                            </ul>
                        </div>
                        <input type="hidden" name="hora">
                        <div class="button d-flex align-items-center justify-content-center p-3">
                            <button type="submit">Agendar</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
{% endblock content %}




{% block scripts %}
    <script src="scripts/bootstrap-datepicker.min.js"></script>
    <script src="scripts/bootstrap-datepicker.pt-BR.min.js"></script> 
    <script src="scripts/agendamento.js"></script>

    <script>
        $('#sandbox').datepicker({
            format: "dd/mm/yyyy",
            startDate: '+0d',
            maxViewMode: 0,
            language: "pt-BR",
            keyboardNavigation: false,
            forceParse: false,
            toggleActive: true
        });
    </script>
{% endblock scripts %}