<!-- {% extends "layout.html" %}

<div class="content">
   
    <div class="informacoes">
        <span class="img-box">
            <img src="/assets/foto-medico.svg" alt="Médico">
        </span>
        <div class="textbox">
            <h6>Dr. José Augusto</h6>
            <p>Cardiologista</p>
            <a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Av. Paulista 00, São Paulo - SP</a>
        </div>
    </div>
    <div class="button">
        <a href="/date" class="btn btnAgendar">Agendar</a>
    </div>
</div -->